@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Share, rate, and enjoy</h1>
    <p>RecipeBook allows your to share your favourite recipes with people around the world.</p>
</div>
